.about-paragraph {
  max-width: 400px;
  margin: 0px auto;
  font-size: 1.2rem;
  padding: 10px 20px;
}

.about-paragraph > * {
  display: flex;
  justify-content: center;
}

.about-paragraph hr {
  border: 1px solid var(--dark-blue);
}

.about-paragraph p {
  margin-bottom: 50px;
}

.profile-text {
  font-size: 1.3rem;
}

.profile-text-2 {
  font-size: 1rem;
}

.profile-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
