.carousel {
    overflow: hidden;
    position: relative;
    max-width: 300px;
    margin: 0px auto;
}

.carousel_img,
.hidden {
    display: none
}

.active {
    display: block;
   }

.carousel-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.fa-chevron-left,
.fa-chevron-right {
    font-size: 1.2rem;
    color: white;

}

.carousel-buttons button {
    border: none;
    background: none;
    cursor: pointer;
}