/*Welcome section*/

.welcome {
  max-width: 900px;
  margin: 0px auto;
}

.welcome > * {
  text-align: center;
  margin-top: 60px;
}

.carousel img {
  width: 300px;
  height: 200px;
}

.welcome__content h1 {
  color: var(--header-footer-links);
  padding: 10px 0px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 300px;
  top: 206px;
}

.header-background {
  display: flex;
  justify-content: center;
}

/*Latest art section*/

.latest-art {
  text-align: center;
  background-color: var(--background-lightblue);
  margin-top: 50px;
  padding: 20px 0px 50px 0px;
}

.latest-art p {
  text-align: left;
}

.latest-art img {
  width: 230px;
  height: 230px;
}

.latest-art-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latest-art-flex p {
  font-size: 1.2rem;
}

.latest-art-flex > * {
  padding: 15px 25px;
}

.latest-art-flex img,
.welcome-image img {
  border: 1px solid var(--dark-blue);
}

.cta-margin {
  margin-top: 25px;
}

/*Reviews section*/

.reviews-flex {
  max-width: 300px;
  margin: 0px auto;
  text-align: center;
}

.fa-star {
  color: gold;
  font-size: 30px;
  margin-bottom: 60px;
}
