/*Welcome section*/

.welcome {
  max-width: 900px;
  margin: 0px auto;
}

.welcome > * {
  text-align: center;
  margin-top: 60px;
}

.welcome-image img {
  width: 300px;
  height: 200px;
}

.welcome__content img {
  position: relative;
}

.welcome__content h1 {
  color: var(--header-footer-links);
  padding: 10px 0px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 300px;
  top: 206px;
}

.header-background {
  display: flex;
  justify-content: center;
}

.current-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-image img {
  padding: 5px 3px;
  width: 30px;
  height: 20px;
}

#current-image__active {
  width: 40px;
  height: 27px;
}

/*Latest art section*/

.latest-art {
  text-align: center;
  background-color: var(--background-lightblue);
  margin-top: 100px;
  padding: 20px 0px 50px 0px;
}

.latest-art p {
  text-align: left;
}

.latest-art img {
  width: 230px;
  height: 230px;
}

.latest-art-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latest-art-flex > * {
  padding: 15px 25px;
}

.latest-art-flex img {
  border: 1px solid var(--dark-blue);
}

.cta-margin {
  margin-top: 50px;
}

/*Reviews section*/

.reviews-flex {
  max-width: 300px;
  margin: 0px auto;
  text-align: center;
}

.fa-user {
  color: var(--header-footer-links);
  background-color: var(--cta-blue);
  padding: 40px;
  border-radius: 50%;
}

.fa-star {
  color: gold;
  font-size: 30px;
  margin-bottom: 60px;
}
