@media (min-width: 627px) {
  .welcome-image img {
    width: 600px;
    height: 350px;
  }

  .welcome__content h1 {
    font-size: 1.8rem;
    padding: 20px 0px;
    width: 600px;
    top: 263px;
  }

  #current-image__active {
    width: 60px;
    height: 40px;
  }

  .current-image img {
    width: 50px;
    height: 30px;
  }

  .blue-header {
    margin: 30px 0px;
  }
}

@media (min-width: 800px) {
  .fixed {
    position: static;
  }

  .logo {
    font-size: 2.5rem;
  }

  .logo a {
    margin-left: 40px;
  }

  nav {
    display: block;
    position: static;
    background: none;
  }

  header label {
    display: none;
  }

  header ul,
  ul a {
    display: inline-block;
    padding: 0px;
  }

  header,
  footer {
    padding: 1.2rem;
  }

  .welcome__content h1 {
    top: 292px;
  }

  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 680px;
  }
}

@media (min-width: 939px) {
  .welcome-image img {
    width: 900px;
    height: 450px;
  }

  .welcome__content h1 {
    font-size: 2.5rem;
    width: 900px;
    top: 323px;
  }

  .latest-art-flex {
    flex-direction: row;
    justify-content: center;
  }

  .reviews-flex,
  .reviews-flex > * {
    display: flex;
  }

  .reviews-flex {
    max-width: 900px;
    text-align: left;
  }

  .reviews-flex__margin > * {
    margin-right: 30px;
  }

  .cta-margin {
    margin-top: 50px;
  }
}

@media (min-width: 1069px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
  }
}
