@media (min-width: 800px) {
  .logo {
    font-size: 2.5rem;
  }

  .logo a {
    margin-left: 40px;
  }

  nav {
    display: block;
    position: static;
    background: none;
  }

  header label {
    display: none;
  }

  header ul,
  ul a {
    display: inline-block;
    padding: 0px;
  }

  header,
  footer {
    padding: 1.2rem;
  }
}
