@import url(../css/imports/variables.css);

/*Global*/

.fixed {
  position: fixed;
  z-index: 1000;
  width: -webkit-fill-available;
}

main {
  margin-top: 85px;
}

.logo,
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-size: 2rem;
  letter-spacing: 0.4rem;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0px auto;
}

header,
footer {
  background: rgb(2, 40, 89);
  background: linear-gradient(267deg, rgba(2, 40, 89, 1) 0%, rgba(4, 157, 217, 1) 100%);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-user {
  color: var(--header-footer-links);
  background-color: var(--cta-blue);
  padding: 40px;
  border-radius: 50%;
}

footer {
  justify-content: center;
  margin-top: 100px;
}

.social {
  font-size: 2rem;
}

#logo--smaller {
  font-size: 1.5rem;
}

a,
.logo,
label {
  text-decoration: none;
  color: var(--header-footer-links);
}

.blue-header,
.blue-header__h3 {
  color: var(--dark-blue);
  font-size: 2rem;
  text-align: center;
  margin: 20px 0px;
}

.blue-header__h3 {
  font-size: 2rem;
}

.current {
  text-decoration: underline;
}

#breadcrumbs {
  display: flex;
  padding: 20px;
  align-items: center;
}

#breadcrumbs > * {
  margin: 0px 5px;
}

#breadcrumbs a {
  color: var(--cta-blue);
}

#breadcrumbs span {
  color: black;
}

.paragraph-no-flex {
  margin-right: 30px;
}

#info-flex {
  flex-direction: column;
}

#instagram {
  color: var(--dark-blue);
  font-size: 3rem;
  padding: 20px;
}

.tiktok {
  color: white;
}

/*Navigation*/

nav a {
  margin: 0px 30px;
  font-size: 1.3rem;
}

label {
  font-size: 1.7rem;
}

nav a:hover {
  text-decoration: underline;
}

header ul,
ul a {
  display: block;
  font-size: 1.5rem;
  padding: 15px;
}

nav {
  display: none;
  background: rgb(2, 40, 89);
  background: linear-gradient(267deg, rgba(2, 40, 89, 1) 0%, rgba(4, 157, 217, 1) 100%);
  position: fixed;
  top: 87px;
  z-index: 1000;
  right: 0px;
}

#hamburger {
  display: none;
}

#hamburger:checked ~ nav {
  display: block;
}

/*Links*/
.cta {
  background-color: var(--cta-blue);
  padding: 15px;
  border-radius: 10px;
}

.cta:hover {
  background-color: var(--cta-blue-hover);
}
