/*Global*/

.logo,
h1 {
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-size: 2.3rem;
  letter-spacing: 0.4rem;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

header,
footer {
  background: rgb(2, 40, 89);
  background: linear-gradient(267deg, rgba(2, 40, 89, 1) 0%, rgba(4, 157, 217, 1) 100%);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  justify-content: center;
}

a,
.logo,
label {
  text-decoration: none;
  color: antiquewhite;
}

/*Navigation*/

nav a {
  margin: 0px 30px;
  font-size: 1.3rem;
}

label {
  font-size: 1.7rem;
}

nav a:hover {
  text-decoration: underline;
}

header ul,
ul a {
  display: block;
  font-size: 1.5rem;
  padding: 15px;
}

nav {
  display: none;
  background: rgb(2, 40, 89);
  background: linear-gradient(267deg, rgba(2, 40, 89, 1) 0%, rgba(4, 157, 217, 1) 100%);
  position: fixed;
  top: 93px;
  z-index: 1000;
  right: 0px;
}

#hamburger {
  display: none;
}

#hamburger:checked ~ nav {
  display: block;
}
